


.section {
  margin-top: 3rem; /* Adjust the top margin as needed */
  padding-left: 2rem; /* Add padding to the left to align the content inside */
}

.section-title {
  font-size: 2rem; /* Adjust the font size as needed */
  margin-bottom: 1rem; /* Adjust the bottom margin as needed */
  color: #f7dbc3; /* Keep the text color white, as per your theme */
  text-align: left; /* Align the text to the left */
  padding-top: 20px; /* Add padding on top if needed */
  padding-bottom: 20px; /* Add padding at the bottom to create space between the sections */
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align book items to the start */
  gap: 1rem; /* Adjust the gap between the books as needed */
}

@media (max-width: 768px) {
  .book-grid {
    flex-direction: column;
    align-items: center;
  }
}

.book-item{
  flex-direction: row; /* Align items in a row */

}
.book-item img{
  width: 200px; /* or any other fixed dimensions */
  height: 250px;
  object-fit: fill; /* This ensures the image covers the space without distorting aspect ratio */
}
