
body {
  background-image: url("./components/nigtlibrary.webp");  /* Check this path */
  background-size: cover;
  background-position: center;
  height: 100vh;  /* Use vh for full viewport height */
  width: 100vw;  /* Use vw for full viewport width */
  margin: 0; /* Remove default margin */
}


.header {
  text-align: center;
  color: #FA7202;
}

.Enter {
  display: inline-block;
  padding: 20px;
  background-color: rgba(255, 172, 37, 0.493);
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Enter:hover {
  background-color: #ff8000;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}


/* Styles for the scrollbar track (part the thumb slides within) */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  height: 12px; /* height of the scrollbar for horizontal scrolling */
}

/* Styles for the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* color of the scrollbar itself */
  border-radius: 10px; /* roundness of the scrollbar */
  border: 3px solid orange; /* creates a border around the scrollbar */
}

/* Styles for the part of the scrollbar track that is not covered by the thumb */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
  box-shadow: inset 0 0 5px grey; /* adds shadow to the track */
  border-radius: 10px; /* roundness of the track */
}
/* Firefox scrollbar settings */
html,body {
  scrollbar-width: thin; /* "auto", "thin", or "none" */
  scrollbar-color: black #4b4a4a; /* thumb and track color */
    max-width: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
