
body {
  background-image: url("./components/nigtlibrary.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.header {
  text-align: center;
  color: #FA7202;
}

.Enter {
  display: inline-block;
  padding: 20px;
  background-color: rgba(255, 172, 37, 0.493);
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Enter:hover {
  background-color: #ff8000;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}
