@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

/* Base setup */
html, body {
  font-family: 'Inconsolata', monospace;
  color: #333;
}

/* Navbar styling */
.navbar {
  z-index: 10;
  background: #2d5d88; /* Deep blue background */
  padding: 1rem;
  color: white;
}

/* Search container */
.search-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Input field styling */
.search-input {
  flex: 1;
  color:wheat;
  background-color: #333;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #2d5d88; /* Blue border to match the theme */
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #4a90e2; /* Lighter blue for focus */
  box-shadow: 0 2px 8px rgba(42, 88, 139, 0.3); /* Subtle shadow on focus */
}

/* Button styling */
.search-button {
  padding: 10px 20px;
  background: #2d5d88; /* Matching the navbar */
  color: rgb(115, 217, 248);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #4a90e2; /* Lighter blue on hover */
}

/* Search results layout */
.searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align book items to the start */
  gap: 3rem; /* Adjust the gap between the books as needed */
  padding: 3rem;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .searchResults {
    flex-direction: column; 
    align-items: center; 
  }
}

/* Book item styles */
.book-item {
  
  flex-direction: row; /* Align items in a row */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadows for depth */
}

.book-item img {
  width: 100%; /* Responsive width */
  max-width: 200px; /* or any other fixed dimensions */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Better fitting for varying dimensions */
}
